<div *ngIf="isShowForm">
  <input type="text" placeholder="en" [(ngModel)]="newEn">
  <input type="text" placeholder="vn" [(ngModel)]="newVn">
  <br>
  <button (click)="addWord();">Add Word</button>
</div>
<button (click)="isShowForm = true" *ngIf="!isShowForm">Them tu moi</button>
<br>
<select [(ngModel)]="filterStatus">
  <option value="XEM_TAT_CA">See All</option>
  <option value="XEM_TU_DA_NHO">See Remember Words</option>
  <option value="XEM_TU_CHUA_NHO">See Forget Words</option>
</select>
  <div *ngFor="let words of arrWords" class="card">
    <div *ngIf="getShowStatus(words.memorized)">
      <div class="card-header" [ngStyle]="{color: words.memorized ? 'green':'red'} ">
        {{words.en}}
      </div>
      <div class="card-body">{{words.vn}}</div>
      <div class="card-footer">
        <button (click)="removeWord(words.id)">Delete</button>
        <button (click)="words.memorized = !words.memorized">
          {{ words.memorized ? 'forget':'remembered'}}
        </button>
      </div>
    </div>

  </div>
